<div class="container">
  <h1>Book List
    <a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.TITLE }}</td>
      <td>{{ book.AUTHOR }}</td>
      <td><a [routerLink]="['/book-details', book.ISBN]">Show Detail</a></td>
    </tr>
    </tbody>
  </table>
</div>
