<div class="container">
  <h1>{{ book.TITLE }}</h1>
  <dl class="list">
    <dt>ISBN</dt>
    <dd>{{ book.ISBN }}</dd>
    <dt>Author</dt>
    <dd>{{ book.AUTHOR }}</dd>
    <dt>Publisher</dt>
    <dd>{{ book.PUBLISHER }}</dd>
    <dt>Update Date</dt>
    <dd>{{ book.UPDATED_DATE }}</dd>
  </dl>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/book-edit', book.ISBN]" class="btn btn-success">EDIT</a>
      <button class="btn btn-danger" type="button" (click)="deleteBook(book.ISBN)">DELETE</button>
    </div>
  </div>
</div>
